@import url("https://fonts.googleapis.com/css?family=Francois+One");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Poppins");
/* line 1, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities.scss */
body {
  padding-bottom: 50px;
}

/* line 5, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities.scss */
a:link {
  text-decoration: none;
}

/* line 13, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities.scss */
h1, h3 {
  font-family: 'Poppins', sans-serif;
}

/* line 17, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities.scss */
p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

/* line 23, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities.scss */
.charity-logo {
  width: 220px;
}
@import url("https://fonts.googleapis.com/css?family=Francois+One");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Poppins");
/* line 6, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.search_container {
  background-image: url(/assets/charity_search_background-5c630b9f805bc2813b2c95428c3a38732f71d67110d505f953bf84f5a661fdd9.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -75px 0 0 0;
  width: 100%;
}

/* line 15, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#error-message {
  color: red;
  visibility: hidden;
}

/* line 20, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#error-message.error {
  visibility: visible;
}

/* line 24, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.container_search {
  margin-top: 60px;
}

/* line 28, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.dropdowns {
  margin-top: -40px;
}

/* line 31, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.search_blurb {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #ffffff;
  margin-top: 170px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

/* line 41, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.search_dropdown {
  margin-left: 50%;
}

/* line 45, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.charity_search_btn {
  margin-left: 190px;
  margin-top: 114px;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 20px;
  background-color: #222224;
  border: none;
  box-shadow: none;
}

/* line 56, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.charity_search_btn:hover {
  background-color: #FF6E00;
  color: #ffffff;
}

/* line 61, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#cause_search, #location_search {
  background: #ffffff;
  color: #222224;
  font-size: 18px;
  border-radius: 0;
  padding: 10px 15px;
}

/* line 69, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#cause_search:hover, #location_search:hover {
  background: #ffffff;
}

/* line 74, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#cause_search_ul li, #location_search_ul li {
  padding: 5px 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

/* line 80, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#cause_search_ul li:hover, #location_search_ul li:hover {
  color: #FF6E00;
}

/* line 88, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#charities-results {
  margin-left: 10%;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}

/* line 94, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.name_search {
  font-size: 25px;
  font-weight: bold;
}

/* line 99, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.name_search a:hover {
  background: none;
  color: #222224;
  font-style: italic;
}

/* line 105, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.results {
  margin-top: 400px;
}

/* line 109, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
#charities-results p {
  font-size: 15px;
  padding-right: 100px;
  margin-left: -30px;
}

/* line 115, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.logo_search {
  height: 80px;
  margin: 30px 50px;
  border: 1px solid #222224;
}

/* line 121, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.more {
  font-style: italic;
  font-size: 12px;
  color: #FF6E00;
}

/* line 127, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/charities_search.scss */
.more:hover {
  color: #222224;
  background: none;
}
@import url("https://fonts.googleapis.com/css?family=Francois+One");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
@import url("https://fonts.googleapis.com/css?family=Poppins");
/* line 1, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #222224;
  padding-top: 50px;
  font-size: 20px;
}

/* line 14, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.jumbotron {
  position: inherit;
  z-index: 2;
  opacity: 0.7;
  background-image: url(/assets/charity_background-bec9d1f00d91c3e778ce12acadbd88d6965c17ed180a4bef0087dbc42b05a04b.jpg);
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/* line 26, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.jumbotron p {
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Alfa Slab One', cursive;
  margin-right: 150px;
  margin-top: 200px;
  padding: 30px 0;
  background-color: #ffffff;
  display: block;
  float: right;
  line-height: 30px;
  color: #FF6E00;
}

/* line 40, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.down {
  width: 40px;
  margin-left: 50%;
}

/* line 46, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.arrow_link:hover {
  background: none;
}

/* line 50, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section2 {
  height: 650px;
}

/* line 54, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section2 span {
  color: #FF6E00;
}

/* line 58, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section2 p {
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Alfa Slab One', cursive;
  line-height: 50px;
}

/* line 64, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section2 p:nth-child(2), .section2 p:nth-child(3) {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}

/* line 71, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.container {
  padding-top: 60px;
}

/* line 79, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section3 {
  margin: 10px auto 200px auto;
  padding: 0 20px;
  position: relative;
  max-width: 900px;
  height: 650px;
}

/* line 88, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section3 h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 95, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section3 p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 25px;
  margin: 0;
  padding: 40px;
  transition: all .2s ease-in-out;
}

/* line 104, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.section3 p:hover {
  transform: scale(1.1);
  color: #FF6E00;
}

/* line 110, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.col-location {
  margin-left: 10px;
}

/* line 114, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.cupped_hand {
  height: 60px;
  margin-top: 25px;
  padding-bottom: 15px;
}

/* line 120, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.world {
  height: 90px;
}

/* line 124, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.heart {
  height: 90px;
}

/* line 128, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
#cause_blurb, #location_blurb, #wish_blurb {
  font-size: 20px;
  font-style: italic;
  margin-top: -60px;
}

/* line 134, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
#cause_blurb:hover, #location_blurb:hover, #wish_blurb:hover {
  color: #222224;
  transform: none;
}

/* line 139, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
#footer_arrow .down {
  margin-top: 50px;
}

/* line 143, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
footer {
  background-color: #00bcd4;
  margin: -50px 0 0 -70px;
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

/* line 149, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
#contact-info-tab, #enquire-now-tab {
  margin-left: -2px;
}

/* line 152, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.tab-content {
  text-align: center;
  margin-top: -50px;
}

/* line 156, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.nav-tabs-alt li {
  display: inline-block;
  margin-left: 250px;
  padding-bottom: 50px;
}

/* line 162, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.nav-tabs-alt li p {
  font-size: 20px;
  color: #222224;
}

/* line 166, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.nav-tabs-alt li p:hover {
  color: #FF6E00;
  background: none;
}

/* line 171, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.getInTouch, .gotAQuestion {
  padding-bottom: 30px;
  font-size: 25px;
}

/* line 175, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.location-icon {
  height: 80px;
}

/* line 179, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.phone-icon {
  height: 55px;
  margin-top: 18px;
}

/* line 184, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.email-icon {
  height: 80px;
}

/* line 188, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.email-icon, .phone-icon, .location-icon {
  transition: all .2s ease-in-out;
}

/* line 192, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.email-icon:hover, .phone-icon:hover, .location-icon:hover {
  transform: scale(1.4);
}

/* line 196, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.comp_info:hover {
  color: #FF6E00;
}

/* line 200, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.enquiry-form {
  width: 500px;
  margin-left: -90px;
}

/* line 205, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.enq_form {
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
}

/* line 210, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.enq_btn {
  font-family: 'Poppins', sans-serif;
  background: none;
  border: none;
}

/* line 216, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/landing_page.scss */
.enq_btn:hover {
  font-family: 'Poppins', sans-serif;
  background: none;
  border: none;
  color: #222224;
}
/* line 1, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/new.scss */
.dropdown-toggle {
  width: 370px;
  text-align: left;
}

/* line 5, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/new.scss */
.dropdown-menu {
  width: 370px;
}

/* line 8, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/new.scss */
button {
  text-align: left;
  background: none;
}
/* line 1, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
@import url("https://fonts.googleapis.com/css?family=Francois+One");
/* line 5, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/users.scss */
html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 12, /Users/jaimegunther/WDI10/Projects/charity_help/app/assets/stylesheets/users.scss */
.hide {
  display: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 @import url('https://fonts.googleapis.com/css?family=Poppins');

.page-container {
  margin: 0;
  padding: 0;
}
.nav-container {
  padding: 0;
}
 .nav-style {
   background-color: #ffffff;
   margin: 0;
   border: none;
 }

 .navbar-default .navbar-text {
   color: #222224;
 }
 .navbar-text {
   font-size: 50px;
   margin-top: 30px;
   color: #222224;
 }

  .navbar-text, .links {
   color: #222224;
   font-family: 'Poppins', sans-serif;
  }

  .nav_links {
    margin-top: 40px;
  }
  .nav_links a {
    background:none;
    padding-right: 15px;
    font-size: 18px;
  }

  .links:hover {
     color: #FF6E00;
     background: none;
     text-decoration: none;
  }

  .glyphicon-menu-hamburger:hover {
    color: #FF6E00
  }

 .logo {
   float:left;
   height: 70px;
   margin-top: 5px;
   margin-left: 70px;
 }

.logoutLink {
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  float: right;
  margin-top: -10px;
}

.logoutLink:hover {
  color: #FF6E00;
}

 /*The Overlay (background)*/
 .overlay {
     height: 0;
     width: 100%;
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     background-color: rgba(0, 188, 212, 1);
     background-color: rgba(0, 188, 212, 0.9);
     overflow-x: hidden; /* Disable horizontal scroll */
     transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
 }

 /*Position the content inside the overlay*/
 .overlay-content {
     position: relative;
     top: 20%; /* 25% from the top */
     width: 100%; /* 100% width */
     text-align: center; /* Centered text/links */
     margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
     list-style-type: none;
     font-family: 'Poppins', sans-serif;
    line-height: 30px;
     -webkit-columns: 3 200px;
        -moz-columns: 3 200px;
             columns: 3 200px;
     -webkit-column-gap: 4em;
        -moz-column-gap: 4em;
             column-gap: 4em;
 }

/*The navigation links inside the overlay*/
 .overlay a, .overlay a:visited{
     padding: 10px;
     text-decoration: none;
     font-size: 24px;
     color: white;
     display: block; /* Display block instead of inline */
     transition: 0.3s; /* Transition effects on hover (color) */
 }

 .type {
   font-size: 16px;
   color: #57575c;
 }

 /*When you mouse over the navigation links, change the colour*/
 .overlay a:hover, .overlay a:focus {
     color: #FF6E00;
     text-decoration: none;
 }

 .overlay-content > li a:hover {
    background-color: transparent;
 }

 /*Position the close button (top right corner)*/
 .overlay .closebtn {
     position: absolute;
     top: 110px;
     right: 45px;
     font-size: 60px;
     text-decoration: none;
     background-color: transparent;
 }

  .copyright a {
    color: #222224;
  }
  .copyright a:hover {
    text-decoration: none;
    color:#FF6E00;
    background: none;
    }

  .scroll-arrow {
    height: 50px;
    float:right;
    margin-top: -60px;
    margin-right:40px;
    }

 /*When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap*/

 @media screen and (max-height: 450px) {
     .overlay a {font-size: 16px}
     .overlay .closebtn {
         font-size: 90px;
         top: 15px;
         right: 35px;
     }

 }
