<div class="row">

  <div class="col-xs-1">
  </div>

  <div class="col-xs-1">
    <input type="checkbox" class="wish-selector" name="wish" value="{{ id }}" />
  </div>

  <div class="col-xs-8">
    <strong>{{ item_name }}</strong>
    <br/ >{{ item_url }}
  </div>

  <div class="wishlist col-xs-2">
     ${{ estimated_price }}
  </div>

</div>
