<div class="container">
    <div class="row">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Username</label>
                <div class="col-md-4">
                    <input id="username" name="username" type="text" placeholder="Email" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
                </div>
            </div>
        </form>

        <div class="row">
            <div class="radio col-md-4">
                <label>
                    <input type="radio" name="options-radios" id="options-radios1" value="option1" checked>
                    Charity
                </label>

                <label>
                    <input type="radio" name="options-radios" id="options-radios2" value="option2">
                    Donor
                </label>
            </div>
        </div>

        <div id="donor-form" class="hide">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-md-4 control-label" for="first-name">First Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="first-name" id="first-name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="last-name">Last Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="last-name" id="last-name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="company-name">Company Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="company-name" id="company-name">
                    </div>
                </div>

            </form>
        </div>

        <div id="charity-form" class="hide">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-md-4 control-label" for="charity-name">Charity Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="charity-name" id="charity-name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="cause">Cause:</label>
                    <div class="col-md-4">
                        <input type="text" name="cause" id="cause">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Description:</label>
                    <div class="col-md-4">
                        <input type="text" name="description" id="description">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="location">Location:</label>
                    <div class="col-md-4">
                        <input type="text" name="location" id="location">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="logo">Logo:</label>
                    <div class="col-md-4">
                        <input type="text" name="logo" id="logo">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="website">Website:</label>
                    <div class="col-md-4">
                        <input type="text" name="url" id="url">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="shipping-address">Shipping Address:</label>
                    <div class="col-md-4">
                        <input type="text" name="shipping-addr" id="shipping-addr">
                    </div>
                </div>

            </form>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="reg"></label>
            <div class="col-md-4">
                <div id="register-button" name="reg" class="btn btn-primary">Register</div>
            </div>
        </div>

    </div>
</div>

<h3 id="success-msg" class="hide">User successfully created!</h3>

<!-- <%= link_to 'Register', new_user_path %> -->
