<div class="sign-up-container">

    <h1 class="text-center">Sign Up</h1>

    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Username</label>
                <div class="col-md-4">
                    <input id="username" name="username" type="email" placeholder="Email" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="password" class="form-control input-md">
                </div>
            </div>
        </form>

        <p id="error-msg" class="hide text-danger text-center">Please complete missing fields</p>

            <div class="radio col-md-3 col-md-offset-4">
                <label class="radio-inline">
                    <input type="radio" name="options-radios" id="charity-radio" value="charity-radio" checked>
                    <strong>Charity</strong>
                </label>

                <label class="radio-inline">
                    <input type="radio" name="options-radios" id="donor-radio" value="donor-radio">
                    <strong>Donor</strong>
                </label>
            </div>
        </div>

        <form class="form-horizontal">
            <div id="donor-form" class="hide">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="first-name">First Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="first-name" id="first-name" type="text" placeholder="First Name" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="last-name">Last Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="last-name" id="last-name" type="text" placeholder="Last Name" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="company-name">Company Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="company-name" id="company-name" type="text" placeholder="Companny Name (optional)" class="form-control input-md">
                    </div>
                </div>

            </div>
        </form>

        <form class="form-horizontal">
            <div id="charity-form">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="charity-name">Charity Name:</label>
                    <div class="col-md-4">
                        <input type="text" name="charity-name" id="charity-name" type="text" placeholder="Charity Name" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="cause">Cause:</label>
                    <div class="col-md-4 dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="cause" type="button" data-toggle="dropdown">Please Select
                    <span class="caret"></span></button>
                      <ul class="dropdown-menu cause">
                        <li>Animals</li>
                        <li>Homeless</li>
                        <li>Environmental</li>
                        <li>Health</li>
                        <li>Education</li>
                        <li>International NGOs</li>
                        <li>Arts & Culture</li>
                      </ul>
                        <!-- <input type="text" name="cause" id="cause" type="text" placeholder="Your Cause" class="form-control input-md"> -->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Description:</label>
                    <div class="col-md-4">
                        <input type="text" name="description" id="description" type="text" placeholder="Description" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="location">Location:</label>
                    <div class="col-md-4 dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="location" type="button" data-toggle="dropdown">Please Select
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu location">
                          <li>Victoria</li>
                          <li>South Australia</li>
                          <li>Tasmania</li>
                          <li>New South Wales</li>
                          <li>Western Australia</li>
                          <li>Queensland</li>
                          <li>ACT</li>
                          <li>Northern Territory</li>
                          <li>International</li>
                        </ul>
                      </div>
                        <!-- <input type="text" name="location" id="location" type="text" placeholder="Location" class="form-control input-md">
                    </div> -->
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="logo">Logo:</label>
                    <div class="col-md-4">
                        <input type="file" name="logo" id="logo">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="website">Website:</label>
                    <div class="col-md-4">
                        <input type="text" name="url" id="url" type="text" placeholder="Website (optional)" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="shipping-address">Shipping Address:</label>
                    <div class="col-md-4">
                        <input type="text" name="shipping-addr" id="shipping-addr" type="text" placeholder="Shipping Address" class="form-control input-md">
                    </div>
                </div>

            </form>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="reg"></label>
            <div class="col-md-4">
                <div id="register-button" name="reg" class="btn btn-primary">Register</div>
            </div>
        </div>

    </div>
</div>
