<p id="notice"><%= notice %></p>

<div class="container search_container">
  <div class="search_section1">
    <p class="search_blurb">Where would you like to make a difference?</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p id="error-message">Apologies, there aren't any charities matching that criteria.</p>
      <div class="dropdown search_dropdown">
        <button class="btn btn-primary dropdown-toggle" id="cause_search" type="button" data-toggle="dropdown">Charity Cause
        <span class="caret"></span></button>
        <ul class="cause_search dropdown-menu" id="cause_search_ul">
          <li>Animals</li>
          <li>Homeless</li>
          <li>Environmental</li>
          <li>Health</li>
          <li>Education</li>
          <li>International NGOs</li>
          <li>Arts & Culture</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <p id="error-message">Apologies, there aren't any charities matching that criteria.</p>
      <div class="dropdown search_dropdown">
        <button class="btn btn-primary dropdown-toggle" id="location_search" type="button" data-toggle="dropdown">Charity Locations
        <span class="caret"></span></button>
        <ul class="location_search dropdown-menu" id="location_search_ul">
          <li>Victoria</li>
          <li>South Australia</li>
          <li>Tasmania</li>
          <li>New South Wales</li>
          <li>Western Australia</li>
          <li>Queensland</li>
          <li>ACT</li>
          <li>Northern Territory</li>
          <li>International</li>
        </ul>
      </div>
    </div>
    <button class="charity_search_btn">Search</button>
  </div>
</div>

</div class="charities_results_container">
  <div><a class="results"></a></div>
  <div id="charities-results"></div>
</div>




<script src="/javascript/templates.js"></script>
<!-- <script src="/javascript/models/charity.js"></script>
<script src="/javascript/collections/charities.js"></script>
<script src="/javascript/views/ListView.js"></script>
<script src="/javascript/views/ListItemView.js"></script>
<script>
  var charities = new Charities();
  charities.reset(<%= raw(@charities.to_json) %>);
</script> -->
<!-- <script src="/javascript/charity_app.js"></script> -->
<!-- <%= link_to 'New Charity', new_charity_path %> -->
