
<div class="header">
  <div class="container">
    <div class="nav">
      <ul class="nav_ul">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="logo"><%= image_tag('logo.png') %></div>
    <h1 class="siteName">Charity Help</h1>

  </div>
</div>
<div class="section1">
  <div class="container">
    <div class="jumbotron">
      <p>Your quickest way</br>to help those in need</p>
    </div>
  </div>
</div>
