/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Poppins');

 .nav-style {
   background-color: #00bcd4;
   margin: 0;
   border: none;
 }
 .navbar-text {
   font-size: 50px;
   margin-top: 30px;
 }

  .navbar-text, .links {
   color: #222224;
   font-family: 'Poppins', sans-serif;
  }

  .nav_links a {
    background:none;
    padding-right: 15px;
  }

  .links:hover {
     color: #FF6E00;
     background: none;
     text-decoration: none;
  }

 .hamburger-icon {
   height: 60px;
   margin-top: 5px;
   padding-left: 20px;
 }

 .logo {
   float:left;
   height: 60px;
   margin-top: -8px;
   margin-left: 70px;
 }
