body {
  padding-bottom: 50px;
}

a:link {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');

h1, h3 {
  font-family: 'Poppins';
}

p {
  font-size: 16px;
  font-family: 'Francois';
  padding: 5px;
}

.charity-logo {
  width: 220px;
}

/*.panel > .wishlist-heading {
    background-color: #222224;
    color: white;
}*/
