body {
  padding-bottom: 50px;
}

a:link {
  text-decoration: none;
}

.wishlist-add {
  width: 600px;
}

@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');

h1 {
  font-family: 'Poppins';
}

p {
  font-size: 16px;
  font-family: 'Francois';
  padding: 5px;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.logo-container {
  height: 200px;
}

.charity-logo {
  height: 100%;
}
