html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Francois+One');

.siteName {
  background-color: #000000;
  color: #ffffff;
  padding:15px 80px;
  margin-left:60px;
  margin-top:-69px;
}
.nav {
  margin:0;
  text-align: right;
}

.nav_ul {
  margin: 0;
}
.nav_ul li {
  list-style-type: none;
  display: inline-block;
  padding-top: 20px;
}

.nav_ul li a {
  text-decoration: none;
  color: #000000;
  padding-right: 15px;
}
.jumbotron {
  position: inherit;
  z-index: 2;
  opacity: 0.7;
  background-image: image-url("charity_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width:100%;
}

.jumbotron p{
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  /*text-align: right;*/
  margin-right: 150px;
  padding:80px 30px;;
  background-color: #ffffff;
  display:block;
  width:550px;
  float:right;
}
