html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #222224;
  padding-top: 50px;
  font-size: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar {
  background-color: #00bcd4;
  height:75px;
  margin: 0;
  border: none;
}
.navbar-text {
  font-size: 40px;
  margin-top: 30px;
}

.navbar-default .navbar-text, .navbar-default .navbar-nav>li>a {
  color: #222224;
  font-family: 'Poppins', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #FF6E00;
}

.navbar-nav {
  margin-left: 650px;
}
.links {
  margin-top: 15px;
}

.hamburger-icon {
  height: 60px;
  margin-top: -20px;
  padding-left: 20px;
}
.logo {
  float:left;
  height: 60px;
  margin-top: -8px;
  margin-left: 70px;
}

.jumbotron {
  // margin-bottom: 200px;
  position: inherit;
  z-index: 2;
  opacity: 0.7;
  background-image: image-url("charity_background.jpg");
  background-repeat: no-repeat;
  // background-size: auto 100vh;
  height: 100vh;
  width:100%;
  background-size: cover;
  background-attachment: fixed;
  // background-position: 0 -56%;
}

.jumbotron p{
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Alfa Slab One', cursive;
  margin-right: 150px;
  margin-top: 150px;
  background-color: #ffffff;
  display:block;
  float:right;
  line-height: 30px;
  color: #FF6E00;
}

.section2 p {
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Alfa Slab One', cursive;
  line-height: 50px;
}
.section2 p:nth-child(2), .section2 p:nth-child(3) {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;

}

.container {
  padding-top: 60px;
}

.main-container {
  background: #00bcd4;
  position: relative;
}

.main-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 60px;
  background: #00bcd4;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

.section2 {
  padding-bottom: 200px;
}

.section2 span {
  color: #FF6E00;
}
.section3 {
  margin: 10px auto;
  padding: 0 20px;
  padding-bottom: 10px;
  position: relative;
  max-width: 900px;
}
.main h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 60px;
}

.main p {
  font-size: 15px;
}

// .row {
//   transition: all .2s ease-in-out;
// }
//
// .row:hover {
//   transform: scale(1.1);
//   color: #FF6E00;
// }

.arrow {
  height: 70px;
  margin-top: 25px;
  padding-bottom: 15px;
}

.section3 {
  margin-bottom: 200px;
}
.section3 h1 {
  padding-bottom: 40px;
}

.section3 p {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 25px;
  margin: 0;
  padding: 40px;
  transition: all .2s ease-in-out;
}

.section3 p:hover {
  transform: scale(1.1);
  color: #FF6E00;
}

footer {
  background-color: grey;
}
.tab-content{
  text-align: center;
}
.nav-tabs-alt li {
  display: inline-block;
  margin-left: 250px;
  padding-bottom: 50px;
}

.nav-tabs-alt li p {
  font-size: 20px;
  color: #222224;
}
.nav-tabs-alt li p:hover {
  color: #FF6E00;
  background: none;
}

.getInTouch, .gotAQuestion {
  padding-bottom: 30px;
  font-size: 25px;
}
.location-icon {
  height: 80px;
}
.hidden {
  display: none;
}

.phone-icon {
  height: 55px;
  margin-top: 18px;
}

.email-icon {
  height: 80px;
}

.enquiry-form {
  width: 500px;
  margin-left: -90px;
}

.copyright a {
  color: #222224;
}
.copyright a:hover {
  text-decoration: none;
  color:#FF6E00;
  background: none;
  }

.scroll-arrow {
  height: 50px;
  float:right;
  margin-top: -60px;
  }

@media screen and (max-width: 900px) {
  .jumbotron p {
    font-size: 30px;
  .section3 p {
    font-size: 20px;
  }
  }
}


// The Overlay (background)
.overlay {
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0, 188, 212, 1);
    background-color: rgba(0, 188, 212, 0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

// Position the content inside the overlay
.overlay-content {
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    list-style-type: none;
    -webkit-columns: 3 200px;
       -moz-columns: 3 200px;
            columns: 3 200px;
    -webkit-column-gap: 4em;
       -moz-column-gap: 4em;
            column-gap: 4em;
}

// The navigation links inside the overlay
.overlay a, .overlay a:visited{
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    color: #222224;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.type {
  font-size: 18px;
  color: #57575c;
}

// When you mouse over the navigation links, change the color
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    text-decoration: none;
}

// Position the close button (top right corner)
.overlay .closebtn {
    position: absolute;
    top: 60px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
}

// When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap
@media screen and (max-height: 450px) {
    .overlay a {font-size: 16px}
    .overlay .closebtn {
        font-size: 90px;
        top: 15px;
        right: 35px;
    }

}
